nav a {
    text-align: center;
    color: rgb(49, 196, 13);
    text-decoration: none;
    padding: 35px;
}
a {
    color: rgb(0, 0, 0);
    padding: 25px;
}
nav a:hover{
    color: rgb(229, 239, 239);
}
body {
    margin: 50px auto;
    background-color: black;
    text-align: center;
}
h1  {
    color: brown;
}
h1:hover {
    color: blue;
}
main {
    background-color: bisque;
    margin: -22px;
    padding: 25px 0;
}
footer {
    background-color: rgb(165, 42, 42);
}
footer p {
    color: aliceblue;
}
header {
    background-color: rgba(165, 42, 42);
    margin: 50px 0;
}
.logo{
    width: 80px;

}
#logo_link {
    padding-top: 5px;
}
.social {
    padding: 25px;

}
#site-width{
    max-width: 1600px;
    margin: 0 auto;
}