nav a {
    text-align: center;
    color: bisque;
    text-decoration: none;
    padding: 35px;
    font-size: 25px;
}
a {
    padding: 25px;
}
nav a:hover{
    color: blue;
}
body {
    margin: 0;
    background-color: black;
    text-align: center;
    width: 100%;
}
h1  {
    color: brown;
}
h1:hover {
    color: blue;
}
main {
    background-color: bisque;
    padding: 25px 0;
    width: 100%;

}
footer {
    background-color: rgb(165, 42, 42);
    width: 100%;
}
footer p {
    color: aliceblue;
}
header {
    background-color: rgba(165, 42, 42);
    margin: 50px 0;
    width: 100%;
}
.logo{
    width: 90px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: -20px;

}
#logo_link {
    padding-top: 5px;
    margin-left: -1000px;

    
}
.social {
    padding: 25px;


}
#site-width{
    max-width: 1600px;
    margin: 0 auto;
}
.social img {
    border-radius: 50%;
}
